<div class="wrapper wrapper_padding clearfix">
        <div class="col-1 about homepage_content">
            <h2>About</h2>
            <hr>
            <p>
                I'm an unemployed / aspiring DevOps Engineer living in Walnut Creek, California.
            </p>
            <p>
                Windows administrator by day, Linux aficionado by night. I have almost a decade of experience as an IT professional under my belt. I started back in 2008 as a humble computer repair technician for a small retail shop. At the very start of 2013, I entered
                the ever challenging world of enterprise IT support with Bank of West which began the career that I’d grew to love. Once 2015 arrived, I found myself working in a small IT department for a mid-sized company. It was tough at first to go
                from relying on a large team to having to wear dozens of hats all on my own, but the confidence and knowledge gained from that experience has been extremely rewarding. It was there where my passion for automation, tool-making, streamlining
                procedures and solving business problems using any sort of technology truly took shape.
            </p>
            <p>
                Having been outsourced for the 3rd time while working in helpdesk and Windows system administration, I found myself more motivated than ever to bring my Linux and coding hobbies to the forefront along with my passion for automation. My goal is to mix
                all these together and land my ultimate dream job as a DevOps Engineer.
            </p>
        </div>
        <div class="col-2 homepage_content">
            <h2>Stuff I've Written</h2>
            <hr>

            <% @posts.each do |post| %>
              <h3><a href="#"><%= link_to post.title, post %></a><h3>
              <p class="date"><%= post.created_at.strftime("%A, %b, %d") %>
            <% end %>

        </div>
        <div class="col-3 homepage_content">
            <h2>Stuff I've Built</h2>
            <hr>
<<<<<<< HEAD:blog/app/views/welcome/index.html.erb
            
            <% @projects.each do |project| %>
                <h3><a href="#"><%= link_to project.title, project %></a></h3>
                <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
=======

            <% @projects.each do |project| %>
              <h3><a href="#"><%= link_to project.title, project %></a></h3>
              <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
>>>>>>> fixing_db:app/views/welcome/index.html.erb
            <% end %>
        </div>
    </div>